<header id="navbar">
    <div id="navbar-container" class="boxed">
        <div class="navbar-header">
            <div class="navbar-brand">
                <div class="brand-title">
                    <span class="brand-text">Proyecto</span>
                </div>
            </div>
        </div>

        <div class="navbar-content">
            <ul class="nav navbar-top-links">
                <li class="tgl-menu-btn">
                    <a class="mainnav-toggle" href="#">
                        <i class="demo-pli-list-view"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-top-links">
                <li id="dropdown-user" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                        <span class="ic-user pull-right">
                            <i class="demo-pli-male"></i>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                        <ul class="head-list">
                            <li>
                                <a><i class="demo-pli-male icon-lg icon-fw"></i> {{ usuario.name }}</a>
                            </li>
                            <li>
                                <a (click)="sendMessageToParent(true)"><i class="demo-pli-unlock icon-lg icon-fw"></i> {{titulo}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>