<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <div class="pad-btm">
                                <img class="img-circle img-md" [src]="usuario.picture" alt="Profile Picture">
                            </div>
                            <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                <span class="pull-right dropdown-toggle"><i class="dropdown-caret"></i></span>
                                <p class="mnp-name">{{ usuario.name }}</p>
                                <span class="mnp-desc">{{ usuario.email }}</span>
                            </a>
                        </div>
                        <div id="profile-nav" class="collapse list-group bg-trans">
                            <a (click)="logOut()" class="list-group-item"><i class="demo-pli-male icon-lg icon-fw"></i> Información de usuario</a>
                            <a href="#" class="list-group-item"><i class="demo-pli-unlock icon-lg icon-fw"></i> Cerrar sesión</a>
                        </div>
                    </div>

                    <ul id="mainnav-menu" class="list-group">
                        <li class="list-header">Inicio</li>

                        <li class="active-sub">
                            <a href="#">
                                <i class="demo-pli-home"></i>
                                <span class="menu-title">Paginas</span>
                                <i class="arrow"></i>
                            </a>

                            <ul class="collapse in">
                                <li class="active-link"><a href="index.html">Inicio</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
