<div id="container" class="effect aside-float aside-bright mainnav-lg">
    <app-header [titulo]="Cerrar Sesión"></app-header>
    <div class="boxed">
        <div id="content-container">
            <div id="page-head">
                <div class="pad-all text-center">
                    <h3>Bienvenido a nuestro proyecto.</h3>
                    <p>Esta plantilla se llama Nifty.</p>
                </div>
            </div>

            <div id="page-content">    
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-navbar></app-navbar>
    </div>
    <app-footer></app-footer>
</div>