<div id="container" class="cls-container" style="background-image: url('./assets/img/bg-img/bg-img-3.jpg'); background-size: cover">
    <div id="bg-overlay"></div>
    
    <div class="cls-content">
      <div class="panel" style="width: 350px; margin: 0 auto">
        <div class="panel-body">
          <div class="">
            <h1 class="h3">Inicio de sesión</h1>
            <p>Ingresa tus credenciales para inicias</p>
          </div>
        </div>
  
        <div class="pad-all">  
          <div class="media pad-top bord-top">
            <div class="pull-right">
              <!-- <a href="#" class="pad-rgt"><i class="demo-psi-facebook icon-lg text-primary"></i></a> -->
              <!-- <a href="#" class="pad-rgt"><i class="demo-psi-twitter icon-lg text-info"></i></a> -->
              <a href="#" class="pad-rgt"><i class="demo-psi-google-plus icon-lg text-danger"(click)="login()" ></i></a>
            </div>
            <div class="media-body text-left text-bold text-main">
              Inicia con
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>